[meme]
load_builtin_memes = $LOAD_BUILTIN_MEMES
meme_dirs = $MEME_DIRS
meme_disabled_list = $MEME_DISABLED_LIST

[gif]
gif_max_size = $GIF_MAX_SIZE
gif_max_frames = $GIF_MAX_FRAMES

[translate]
type = "$TRANSLATE_TYPE"

[translate.baidu]
appid = "$TRANSLATE_BAIDU_APPID"
apikey = "$TRANSLATE_BAIDU_APIKEY"

[translate.openai]
api_key = "$TRANSLATE_OPENAI_API_KEY"
url = "$TRANSLATE_OPENAI_URL"
model = "$TRANSLATE_OPENAI_MODEL"

[translate.gemini]
api_key = "$TRANSLATE_GEMINI_API_KEY"
api_base = "$TRANSLATE_GEMINI_API_BASE"
model = "$TRANSLATE_GEMINI_MODEL"

[server]
host = "0.0.0.0"
port = 2233

[log]
log_level = "$LOG_LEVEL"